    <body><br>
    <div class="container">
      <div class="row">
        <span *ngFor="let card of medias"  class="col-md-4 mb-4">
              <div class="card card-texture" (click)="viewGallery(card.id)">
                  <img src="https://drive.google.com/thumbnail?id={{ card.mediaUrl | replaceExtension }}&sz=w300" class="card-img-top" alt="Card image">
                  <div class="card-body">
                    <div class="d-flex-wrapper">
                      <h3 class="card-title"><i class="fa-solid fa-user"></i> {{ card.mediaName.replace("fly_", "").split('_')[0] | replaceExtension | capitalize }}</h3>
                      <p class="card-text"><i class="fa-solid fa-location-dot"></i> {{ card.mediaName.replace("fly_", "").split('_')[2] | replaceExtension | capitalize }}</p>
                    </div>
                      <p class="card-text"><i class="fa-solid fa-circle-info"></i> {{ card.mediaName.replace("fly_", "").split('_')[1] }}</p>
                      <a (click)="viewGallery(card.id)" class="btn btn-outline-light" style="color: brown;">View More</a>
                  </div>
              </div>
        </span>            
      </div>
        <!-- <div class="row">
          <div *ngFor="let card of medias" class="col-md-4 mb-4 d-flex">
            <div class="card bg-dark text-white flex-fill position-relative" (click)="viewGallery(card.id)"> 
              <img src="https://drive.google.com/thumbnail?id={{ card.mediaUrl | replaceExtension }}" class="card-img" alt="..."> 
              <div class="overlay"></div>
              <div class="card-img-overlay d-flex flex-column justify-content-end">
                <h3 class="card-title italic"><b>Client: {{ card.mediaName.replace("fly_", "").split('_')[0] | replaceExtension }}</b></h3>
                <h5 class="card-text"><b>Description:</b> {{ card.mediaName.replace("fly_", "").split('_')[1] }}</h5>
                <h4 class="card-text"><b>Location:</b> {{ card.mediaName.replace("fly_", "").split('_')[2] | replaceExtension }}</h4>
              </div>
            </div>
          </div>
        </div> -->
    </div>
</body>

<style>

</style>

  <!-- <div class="card h-100" (click)="viewGallery(card.id)">
              <img 
                src="https://drive.google.com/thumbnail?id={{ card.mediaUrl | replaceExtension }}" 
                class="card-img-top" 
                alt="{{ card.mediaName.replace('fly_', '') | replaceExtension }}"
              >
              <div class="card-body">
                <hr>
                <h2 class="card-title italic">{{ card.mediaName.replace("fly_", "").split('_')[0] | replaceExtension }}</h2>
                <hr>
                <p class="card-text">{{ card.mediaName.replace("fly_", "").split('_')[1] }}</p>
                <h3>Location: {{ card.mediaName.replace("fly_", "").split('_')[2] | replaceExtension }}</h3>
                <a class="btn btn-primary btn-gallery" (click)="viewGallery(card.id)">View Gallery</a>
              </div>
            </div> -->