.card-img-top {
  width: 100%; /* Full width */
  height: 300px; /* Fixed height */
  object-fit: cover; /* Maintain aspect ratio */
  border-bottom: 1px solid #E8E4E1; /* Optional: border under image */
}

.d-flex-wrapper {
  display: flex;
  justify-content: space-between; /* Distribute space between items */
  align-items: center; /* Center items vertically */
  margin-bottom: 10px; /* Space below the wrapper */
}

.d-flex-wrapper p, .d-flex-wrapper h3 {
  margin-bottom: 0; /* Remove default margin */
}

.d-flex-wrapper i {
  margin-right: 8px; /* Space between icon and text */
}

  .card-group {
    margin: 20px;
  }
  
  .card-img {
    object-fit: cover;
    height: 500px;
  }

  .card {
    width: 100%; /* Ensure the card takes full width of the column */
    overflow: hidden; /* Hide overflow to maintain uniformity */
    transition: transform 0.2s; /* Smooth transition for hover effect */
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 25px; /* Match the card's border radius */
  }
  
  .card:hover {
    transform: scale(1.05); /* Slightly enlarge the card on hover */
  }

  .card-text {
    text-align: justify;
    text-justify: inter-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Set the maximum number of lines */
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-body {
    text-align: center
  }
  
  body {
    /* background-color: #995e4f; */
    /* background-color: #F5F5DC; */
    background: linear-gradient(to bottom, #b78671 10%, #E8E4E1);
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
  }

 .italic {
    font-style: italic; /* Make text italic */
 }

 .btn-gallery {
    border-width: 3px;
    border-color: black;
 }

 .card {
    position: relative; /* Ensure the card is positioned relative for the overlay */
  }
  
@media (min-width: 992px) { /* Adjust the breakpoint as needed */
    .container {
        margin-top: 8%; /* Adjust this value to shift content down */
    }
}