<body>
    <br><br><br><br><br>
    <div class="container">
        <div class="row">
          <div *ngFor="let card of medias" class="col-md-4 mb-4 d-flex"> <!-- Responsive column and flex container -->
            <div class="card bg-dark text-white flex-fill position-relative" (click)="viewGallery(card.id)"> <!-- Use flex-fill to ensure equal height -->
              <img src="https://drive.google.com/thumbnail?id={{ card.mediaUrl | replaceExtension }}" class="card-img" alt="..."> <!-- Set a fixed height for the image -->
              <div class="overlay"></div> <!-- Black overlay -->
              <div class="card-img-overlay d-flex flex-column justify-content-end"> <!-- Flexbox for text alignment -->
                <h3 class="card-title italic"><b>Client: {{ card.mediaName.replace("fly_", "").split('_')[0] | replaceExtension }}</b></h3>
                <h5 class="card-text"><b>Description:</b> {{ card.mediaName.replace("fly_", "").split('_')[1] }}</h5>
                <h4 class="card-text"><b>Location:</b> {{ card.mediaName.replace("fly_", "").split('_')[2] | replaceExtension }}</h4>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>


  <!-- <div class="card h-100" (click)="viewGallery(card.id)">
              <img 
                src="https://drive.google.com/thumbnail?id={{ card.mediaUrl | replaceExtension }}" 
                class="card-img-top" 
                alt="{{ card.mediaName.replace('fly_', '') | replaceExtension }}"
              >
              <div class="card-body">
                <hr>
                <h2 class="card-title italic">{{ card.mediaName.replace("fly_", "").split('_')[0] | replaceExtension }}</h2>
                <hr>
                <p class="card-text">{{ card.mediaName.replace("fly_", "").split('_')[1] }}</p>
                <h3>Location: {{ card.mediaName.replace("fly_", "").split('_')[2] | replaceExtension }}</h3>
                <a class="btn btn-primary btn-gallery" (click)="viewGallery(card.id)">View Gallery</a>
              </div>
            </div> -->