<footer class="bg-dark text-white text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4">
          <h3 class="text-uppercase font-weight-bold">Services</h3>
          <ul class="list-unstyled">
            <p>
                <li><a href="#!" class="text-reset text-decoration-none">Photography & Cinematography</a></li>
            </p>
            <p>
                <li><a href="#!" class="text-reset text-decoration-none">Video Editing</a></li>
            </p>
            <p>
                <li><a href="#!" class="text-reset text-decoration-none">Animation & Motion Graphics</a></li>
            </p>
            <p>
                <li><a href="#!" class="text-reset text-decoration-none">Corporate Videos</a></li>
            </p>
          </ul>
        </div>
  
        <div class="col-lg-6 col-md-12 mb-4 text-center">
          <img src="../../../favicon.ico" alt="Company Logo" class="img-fluid mb-3" style="max-width: 150px;">
          <h5 class="text-uppercase font-weight-bold company-name">Production House</h5>
          <p>Your one-stop solution for video production and editing. We bring your vision to life with creativity and professionalism.</p>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <h3 class="text-uppercase font-weight-bold">Contact Us</h3>
          <p>
            <i class="fas fa-home"></i>&nbsp; <a href="https://maps.app.goo.gl/isk3Q5paa6PhZf1S7" target="_blank"> Vasari Hill Rd, Rustomjee Ease Zone Mall Malad West, Mumbai, Maharashtra 400104. 1st Floor Office no - 3068</a>
          </p>
          <p>
            <i class="fas fa-envelope"></i>&nbsp; <a href="mailto:flyproductionhouse.info@gmail.com">{{email}}</a>
          </p>
          <p>
            <i class="fa-solid fa-tty"></i>&nbsp; <a href="tel:{{telNo}}">{{telNo}}</a>
          </p>
          <p>
            <i class="fas fa-phone"></i>&nbsp; <a href="tel:+91 99873 06758">+91 99873 06758</a>
          </p>
        </div>
      </div>
      <!-- <div class="row justify-content-center text-center">
        <div class="col-auto">
            <p class="mb-0">
                <a href="https://www.instagram.com/flyproductionhouse/"><i class="fab fa-instagram"></i></a>
            </p>
        </div>
        <div class="col-auto">
            <p class="mb-0">
                <a href="https://www.youtube.com/{{youtube}}" target="_blank" class="text-reset"><i class="fab fa-youtube"></i></a>
            </p>
        </div>
      </div> -->
    </div>

  
    <div class="text-center p-3 bg-secondary">
      <div class="d-flex justify-content-center mb-2">
        <!-- <a href="#!" class="text-reset me-3"><i class="fab fa-facebook-f"></i></a> -->
        <a href="mailto:{{email}}" class="text-reset me-3"><i class="fa-solid fa-envelope"></i></a>
        <!-- <a href="#!" class="text-reset me-3"><i class="fab fa-twitter"></i></a> -->
        <a href="https://www.instagram.com/flyproductionhouse/" target="_blank" class="text-reset me-3"><i class="fab fa-instagram"></i></a>
        <!-- <a href="#!" class="text-reset me-3"><i class="fab fa-whatsapp"></i></a> -->
        <a href="https://www.youtube.com/{{youtube}}" target="_blank" class="text-reset me-3"><i class="fab fa-youtube"></i></a>
      </div>
      <p class="mt-2">© 2024 Fly Production House. All Rights Reserved.</p>
    </div>
  </footer>
  
