<nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-dark p-2">
    <div class="container-fluid">
        <a routerLink="/" (click)="onLinkClick()">
            <div class="navbar-brand-container">
                <img src="../../../favicon.ico" alt="Logo" class="navbar-brand">
                <b class="productionHouse">PRODUCTION HOUSE</b>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="/" (click)="onLinkClick()">HOME</a>
                <a class="nav-link" routerLink="/photo-gallery" (click)="onLinkClick()">PHOTO GALLERY</a>
                <a class="nav-link" routerLink="/video-gallery" (click)="onLinkClick()">VIDEO GALLERY</a>
                <a class="nav-link" routerLink="/contact-us" (click)="onLinkClick()">CONTACT US</a>
            </div>
        </div>
    </div>
</nav>