<div class="main-content-home">
    <div class="video-container">
        <!-- <iframe id="ytplayer" type="text/html" width="100%" height="100%"
        src="https://youtu.be/6d5SS0gS5bU?si=1Tn6y46obhd6Uux3?autoplay=1&loop=1&controls=0&mute=1&playlist=dQw4w9WgXcQ"
        frameborder="0">
        </iframe> -->
        <div class="col-12 col-md-12">
            <!-- <img id="flyLogo" src="../../../assets/fly_logo.gif" alt="A beautiful photography GIF" class="back-video" style="width: 100%; display: block;"> -->
            <!-- Video 1 -->
            <div class="ratio ratio-16x9 text-center" id="videoContainer">
                <iframe id="vedioIframe" class="embed-responsive-item" 
                    src="https://www.youtube.com/embed/dD18pVXZMMM?autoplay=1&mute=1&controls=0&rel=0&modestbranding=1&start=33&loop=1&playlist=dD18pVXZMMM" 
                    allow="autoplay"
                    style="max-width: 100%; height: 100%; pointer-events: none;"   
                    allowfullscreen>
                </iframe>
                <div class="overlay"></div>
            </div>
        </div>
    </div>
</div>

