<div class="main-content-home">
    <div class="video-container">
        <!-- <iframe id="ytplayer" type="text/html" width="100%" height="100%"
        src="https://youtu.be/6d5SS0gS5bU?si=1Tn6y46obhd6Uux3?autoplay=1&loop=1&controls=0&mute=1&playlist=dQw4w9WgXcQ"
        frameborder="0">
        </iframe> -->
        <div class="col-12 col-md-12">
            <!-- <img id="flyLogo" src="../../../assets/fly_logo.gif" alt="A beautiful photography GIF" class="back-video" style="width: 100%; display: block;"> -->
            <!-- Video 1 -->
            <div class="ratio ratio-16x9 text-center" id="videoContainer">
              <div class="overlay"></div>
                <iframe id="vedioIframe" class="embed-responsive-item" 
                    src="https://www.youtube.com/embed/dD18pVXZMMM?autoplay=1&mute=1&controls=0&rel=0&modestbranding=1&start=33&loop=1&playlist=dD18pVXZMMM" 
                    allow="autoplay"
                    style="max-width: 100%; height: 100%; pointer-events: none;"   
                    allowfullscreen>
                </iframe>
                <div class="overlay"></div>
            </div>
        </div>
    </div>
    <main class="container my-2">
        <section class="hero">
          <i class="fas fa-film"></i>
          <h1>Welcome to Fly Production House</h1>
          <h2>Where every frame tells a story and every moment is crafted with precision.</h2>
        </section>
    
        <section class="about">
          <i class="fas fa-user-tie"></i>
          <h2>About Us</h2>
          <h2>With over seven years of experience in the wedding and video editing industry, we have established a reputation for delivering top-notch services that capture the essence of life's most cherished occasions.</h2>
        </section>
    
        <section class="mission">
          <i class="fas fa-bullseye"></i>
          <h1>Our Mission</h1>
          <h2>Our mission is simple yet profound: to transform fleeting moments into timeless memories through the art of visual storytelling. We are driven by a fundamental belief that every story deserves to be told beautifully. This belief propels us to continuously evolve and innovate, ensuring that we not only meet but exceed the expectations of our clients.</h2>
        </section>
    
        <section class="journey">
          <i class="fas fa-rocket"></i>
          <h1>Our Journey</h1>
          <h2>Our journey began with a passion for storytelling. We understand that each event is unique, and we strive to reflect that individuality in our work. At Fly Production House, we don't just edit videos; we craft experiences that resonate, inspire, and endure.</h2>
        </section>
    
        <section class="why-choose-us text-center">
            <i class="fas fa-check-circle mb-4" style="font-size: 48px;"></i>
            <h2>Why Choose Us?</h2>
            <div class="row mt-4">
              <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                    <i class="fas fa-user-tie fa-2x mb-2"></i>
                    <h5 class="card-title">Expertise</h5>
                    <p class="card-text">With years of industry experience, our team is equipped with the skills and knowledge to handle any project.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                    <i class="fas fa-star fa-2x mb-2"></i>
                    <h5 class="card-title">Quality</h5>
                    <p class="card-text">We are committed to delivering high-quality video production services that capture the essence of your special moments.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                    <i class="fas fa-lightbulb fa-2x mb-2"></i>
                    <h5 class="card-title">Innovation</h5>
                    <p class="card-text">We continually seek new techniques and technologies to enhance our storytelling capabilities.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                    <i class="fas fa-thumbs-up fa-2x mb-2"></i>
                    <h5 class="card-title">Client-Centric Approach</h5>
                    <p class="card-text">Your satisfaction is our priority. We work closely with you to ensure your vision comes to life.</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
      </main>
</div>

