<body><br><br>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 contact-info">
            <h2>Contact Information</h2>
            <div class="info-item">
                <i class="fas fa-phone"></i>&nbsp;<a href="tel:{{telNo}}">{{telNo}}</a>
            </div>
            <div class="info-item">
                <i class="fas fa-envelope"></i>&nbsp;<a href="mailto:{{email}}">{{email}}</a>
            </div>
            <div class="info-item">
                <i class="fas fa-map-marker-alt"></i>
                    <a href="https://maps.app.goo.gl/isk3Q5paa6PhZf1S7" target="_blank">
                        Vasari Hill Rd, Rustomjee Ease Zone Mall Malad West, Mumbai, Maharashtra 400104. 1st Floor Office no - 3068
                    </a>
            </div>
            <br>
            <!-- Social Media Links -->
            <h4><strong>Follow Us</strong></h4>
            <div class="social-icons">
                <!-- <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a> -->
                <!-- <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a> -->
                <a href="https://www.instagram.com/flyproductionhouse/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/{{youtube}}" target="_blank" ><i class="fab fa-youtube"></i></a>
                <!-- <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a> -->
                <!-- <a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a> -->
            </div>
        </div>
    </div>
</div>
</body>
