body {
    background: linear-gradient(to bottom, #b78671 10%, #E8E4E1);
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
}

.contact-info {
    background: #e8e4e183;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-info h2 {
    margin-bottom: 20px;
}

.info-item {
    margin-bottom: 20px;
}

.info-item i {
    color: #0a56a8; /* Bootstrap primary color */
    margin-right: 10px;
}

.social-icons a {
    color: #0a56a8; /* Bootstrap primary color */
    margin-right: 15px;
    font-size: 1.5rem; /* Increase icon size */
}

a {
    text-decoration: none;
}
