h1 {
    text-align: center;
}

body {
    /* background-color: #995e4f; */
    /* background-color: #F5F5DC; */
    background: linear-gradient(to bottom, #9d674f, #dfcfbd 15%);
    min-height: 100vh;
    height: auto;
}

@media (max-width: 992px) { /* Adjust the breakpoint as needed */
    .break {
        display: none;
    }
}