<body>
    <br><br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="ratio ratio-16x9 text-center mt-4 mb-4">
                    <iframe class="embed-responsive-item" 
                        src="https://www.youtube.com/embed/dD18pVXZMMM?autoplay=1&mute=0&controls=1&rel=0" 
                        style="max-width: 100%; height: 100%;"   
                        allowfullscreen
                    >
                    </iframe>
                </div>
                <hr>
                    <h1>Weeding teaser</h1>
                <hr>
            </div>
            <div class="col-12 col-md-6">
                <div class="ratio ratio-16x9 text-center mt-4 mb-4">
                    <iframe class="embed-responsive-item" 
                        src="https://www.youtube.com/embed/pEWogDhS4pU?autoplay=1&mute=0&controls=1&rel=0" 
                        style="max-width: 100%; height: 100%;"   
                        allowfullscreen
                    >
                    </iframe>
                </div>
                <hr>
                    <h1>Weeding teaser</h1>
                <hr>
            </div>
            <div class="col-12 col-md-6">
                <div class="ratio ratio-16x9 text-center mt-4 mb-4">
                    <iframe class="embed-responsive-item" 
                        src="https://www.youtube.com/embed/3MuQcKZi-Io?autoplay=1&mute=0&controls=1&rel=0" 
                        style="max-width: 100%; height: 100%;"   
                        allowfullscreen
                    >
                    </iframe>
                </div>
                <hr>
                    <h1>Weeding teaser</h1>
                <hr>
            </div>
        </div>
    </div>
</body>