<body>
    <br><br class="break"><br class="break"><br class="break"><br class="break">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="ratio ratio-16x9 text-center mt-4 mb-4">
                    <iframe class="embed-responsive-item" 
                        src="https://www.youtube.com/embed/dD18pVXZMMM?autoplay=1&mute=0&controls=1&rel=0" 
                        style="max-width: 100%; height: 100%;"   
                        allowfullscreen
                    >
                    </iframe>
                </div>
                <hr>
                <h1>
                    <i class="fas fa-heart icon" style="color: #e71f1f;"></i> 
                     Sanjay & Simran
                    <i class="fas fa-heart icon" style="color: #e71f1f;"></i> 
                </h1>
                <hr>
                    <p style="line-height: 1.6; text-align: justify;">
                        Olivia and Marcus recently tied the knot, and their relationship is a beautiful story of soulmates finding each other. Their love is characterized by an understated yet profound intimacy. Olivia’s gentle grace and Marcus’s steadfast support create a serene balance that’s both comforting and invigorating.
                    </p>
                    
                    <p style="line-height: 1.6; text-align: justify;">
                        They communicate without words, often finishing each other's sentences or exchanging knowing glances. Their romance is built on a foundation of trust and mutual admiration, visible in the way they navigate life’s challenges together with a united front.
                    </p>
                    
                    <p style="line-height: 1.6; text-align: justify;">
                        Their wedding day was a reflection of their deep connection—full of heartfelt vows and moments that spoke volumes about their shared journey. As newlyweds, their bond is a harmonious blend of deep emotional resonance and everyday joy, promising a future rich with love and companionship.
                    </p>                
                    <hr>
            </div>
        </div>
    </div>
</body>