  .card-group {
    margin: 20px;
  }
  
  .card {
    width: 100%; /* Ensure the card takes full width of the column */
    height: 350px; /* Set a fixed height for all cards */
    overflow: hidden; /* Hide overflow to maintain uniformity */
    transition: transform 0.2s; /* Smooth transition for hover effect */
    border-width: 10px;
  }
  
  .card:hover {
    transform: scale(1.05); /* Slightly enlarge the card on hover */
  }
  
  .card-img-top {
    width: 100%; /* Set width to 100% to fill the card */
    height: 100%; /* Set a fixed height for the image */
    object-fit: contain; /* Use 'contain' to fit the image inside the container */
    object-position: center; /* Center the image vertically */
  }

.italic {
    font-style: italic; /* Make text italic */
 }

 .clientName {
    text-align: center;
 }

 .photoGallery {
    font-size: 30px;
 }

 @keyframes scrollAnimation {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    } 
 }

 .card {
    animation: scrollAnimation linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
 }

 body {
    /* background-color: #995e4f; */
    /* background-color: #F5F5DC; */
    background: linear-gradient(to bottom, #9d674f, #dfcfbd);
    height: auto;
  }